.grid-pract div {
  background-color: pink;
  border: 3px solid wheat;
}
.clearfix-class {
  margin: 20px auto 50px autp;
}
.clearfix-class div {
  height: 100px;
  width: 100px;
  color: white;
  background-color: #000;
  border: 3px solid white;
}
.floating-right {
  float: right;
}
.floating-left {
  float: left;
}
.range-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.range-labels {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: -25px; /* Adjust this value based on your design */
}

.range-labels span {
  font-size: 14px;
}

.form-range {
  width: 100%;
  background: linear-gradient(
    to right,
    transparent 0%,
    transparent 10%,
    transparent 20%,
    transparent 30%,
    transparent 40%,
    transparent 50%,
    transparent 60%,
    transparent 70%,
    transparent 80%,
    transparent 90%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
  background-image: linear-gradient(
    to right,
    #000 0%,
    #000 0%,
    #000 10%,
    #000 10%,
    #000 20%,
    #000 20%,
    #000 30%,
    #000 30%,
    #000 40%,
    #000 40%,
    #000 50%,
    #000 50%,
    #000 60%,
    #000 60%,
    #000 70%,
    #000 70%,
    #000 80%,
    #000 80%,
    #000 90%,
    #000 90%,
    #000 100%
  );
}
